@import "../src/position";

.absolute-center {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border: 1px solid #e0e0e0;
  @include absoluteCenter(200px, 300px);
}

.horizontal-center {
  position: relative;
  left: 20%;
  @extend %absoluteHorizontalCenter;
}