.arrow-top {
  width: 0;
  height: 0;
  display: inline-block;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #333 transparent; }

.arrow-right {
  width: 0;
  height: 0;
  display: inline-block;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent #333; }

.arrow-bottom {
  width: 0;
  height: 0;
  display: inline-block;
  border-width: 10px;
  border-style: solid;
  border-color: #333 transparent transparent transparent; }

.arrow-left {
  width: 0;
  height: 0;
  display: inline-block;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #333 transparent transparent; }

.border-arrow-top {
  width: 14.14427157px;
  height: 14.14427157px;
  display: inline-block;
  overflow: hidden;
  font-size: 0;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: red red transparent transparent;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }
  .border-arrow-top:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 20px;
    border-style: solid;
    border-color: #333 #333 transparent transparent; }

.border-arrow-right {
  width: 14.14427157px;
  height: 14.14427157px;
  display: inline-block;
  overflow: hidden;
  font-size: 0;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: red red transparent transparent;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }
  .border-arrow-right:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 20px;
    border-style: solid;
    border-color: #333 #333 transparent transparent; }

.border-arrow-bottom {
  width: 14.14427157px;
  height: 14.14427157px;
  display: inline-block;
  overflow: hidden;
  font-size: 0;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: red red transparent transparent;
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg); }
  .border-arrow-bottom:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 20px;
    border-style: solid;
    border-color: #333 #333 transparent transparent; }

.border-arrow-left {
  width: 14.14427157px;
  height: 14.14427157px;
  display: inline-block;
  overflow: hidden;
  font-size: 0;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: red red transparent transparent;
  -moz-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg); }
  .border-arrow-left:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 20px;
    border-style: solid;
    border-color: #333 #333 transparent transparent; }

.float-content {
  position: relative;
  width: 200px;
  height: 100px;
  border: 1px solid #a5a5a5;
  background-color: #e0e0e0; }
  .float-content .arrow {
    left: 50%;
    top: -9px;
    background-color: #a5a5a5;
    width: 12.729844413px;
    height: 12.729844413px;
    display: inline-block;
    overflow: hidden;
    font-size: 0;
    background-color: #e0e0e0;
    position: relative;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: #a5a5a5 #a5a5a5 transparent transparent;
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
    .float-content .arrow:before {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border-width: 18px;
      border-style: solid;
      border-color: #e0e0e0 #e0e0e0 transparent transparent; }

/*# sourceMappingURL=shape.css.map */
