/** text overflow ellipsis **/
/** triangle **/
.arrow-top {
  width: 0;
  height: 0;
  display: inline-block;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #333 transparent; }

.arrow-right {
  width: 0;
  height: 0;
  display: inline-block;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent #333; }

.arrow-bottom {
  width: 0;
  height: 0;
  display: inline-block;
  border-width: 10px;
  border-style: solid;
  border-color: #333 transparent transparent transparent; }

.arrow-left {
  width: 0;
  height: 0;
  display: inline-block;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #333 transparent transparent; }

.border-arrow-top {
  position: relative;
  width: 14.14427157px;
  height: 14.14427157px;
  overflow: hidden;
  font-size: 0;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: red red transparent transparent;
  transform: rotate(-45deg); }
  .border-arrow-top:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 20px;
    border-style: solid;
    border-color: #333 #333 transparent transparent; }

.border-arrow-right {
  position: relative;
  width: 14.14427157px;
  height: 14.14427157px;
  overflow: hidden;
  font-size: 0;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: red red transparent transparent;
  transform: rotate(45deg); }
  .border-arrow-right:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 20px;
    border-style: solid;
    border-color: #333 #333 transparent transparent; }

.border-arrow-bottom {
  position: relative;
  width: 14.14427157px;
  height: 14.14427157px;
  overflow: hidden;
  font-size: 0;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: red red transparent transparent;
  transform: rotate(135deg); }
  .border-arrow-bottom:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 20px;
    border-style: solid;
    border-color: #333 #333 transparent transparent; }

.border-arrow-left {
  position: relative;
  width: 14.14427157px;
  height: 14.14427157px;
  overflow: hidden;
  font-size: 0;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: red red transparent transparent;
  transform: rotate(225deg); }
  .border-arrow-left:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 20px;
    border-style: solid;
    border-color: #333 #333 transparent transparent; }

.float-content {
  position: relative;
  width: 200px;
  height: 100px;
  border: 1px solid #c2c2c2;
  background-color: #e0e0e0;
  border-radius: 4px;
  padding: 10px; }
  .float-content .arrow {
    position: relative;
    width: 12.729844413px;
    height: 12.729844413px;
    overflow: hidden;
    font-size: 0;
    background-color: #e0e0e0;
    cursor: pointer;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: #c2c2c2 #c2c2c2 transparent transparent;
    transform: rotate(-45deg);
    left: 50%;
    top: -7px;
    position: absolute; }
    .float-content .arrow:before {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border-width: 18px;
      border-style: solid;
      border-color: #e0e0e0 #e0e0e0 transparent transparent; }

/*# sourceMappingURL=shape.css.map */
