$mediaScreens: ();

@mixin media($min: false, $max: false) {
  //$query-string: '';
  //@media screen {
  //  @if $min != '' {
  //    $query-string: $query-string + 'min-width: #{ $min }';
  //  }
  //  @if $max != '' {
  //    $query-string: 'max-width: #{ $max }';
  //  }
  //  @media (#{$query-string}) {
  //    @content;
  //  }
  //}
  @content;
}

@function _generate-query-string ($min, $max) {
  $query-str: '';
  @if $min {
    $query-str: #{ '32' };
  }
  @return $query-str;
}

@mixin test () {
  content: _generate-query-string(300px, 200px);
}

