
@mixin media($min: null, $max: null) {
  $mediaQuery: 'screen';
  @if $min {
    $mediaQuery: $mediaQuery + ' and (min-width: #{$min}px)';
  }
  @if $max {
    $mediaQuery: $mediaQuery + ' and (max-width: #{$max}px)';
  }
  @media #{$mediaQuery} {
    @content;
  }
}

@function _generate-query-string ($min, $max) {
  $query-str: '';
  @if $min {
    $query-str: #{ '32' };
  }
  @return $query-str;
}
