@mixin disableSelect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

%disableSelect {
  @include disableSelect;
}

@mixin clearfix {
  &:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
  }
  *zoom: 1;
}

%clearfix {
  @include clearfix;
}

/** text overflow ellipsis **/
@mixin textEllipsis {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -ms-word-break: break-all;
  word-break: break-all;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  white-space: nowrap;
}

%textEllipsis {
  @include textEllipsis;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  filter: alpha(opacity=$opacity * 100);
}

@mixin boxShadow() {

}