
%absoluteHorizontalCenter {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

@mixin absoluteCenter($w, $h) {
  width: $w;
  height: $h;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@mixin absoluteHorizontalCenter {
  @extend %absoluteHorizontalCenter;
}